@charset "utf-8";
.wrapper,.whatwecando,.ourlatestwork,.ourskills {
  font-size: 24px;
}
.wrapper,.form_text{ 
  color: #333;
}
.header,.main_title,.footer {
  width: 100%;
}
.button {
  transition: 0.3s;
  font-size: 12px;
  text-decoration: none;
}
.body {
  font-family: Lato;
}
.whatwecando,.ourlatestwork,.ourskills {
  font-family: Raleway;
}
.header {
  background-color: #ffffff;
  z-index: 1;
}
main {
  background-color: #f2f2f2;
  padding-top: 69.94px;
}
.contact_button,.wwc_block,.mail_form,footer {
  background-color: #74cfae;
}
.header {
  padding:15px 0;
  position: fixed;
  top: 0;
  left: 0;
}
.fa-bolt {
  font-size: 40px;
  float: left;
}
.contact_button {
  padding: 14px 12px;
  float: right;
  color: #f2f2f2;
  text-decoration: none;
}
.contact_button:hover {
  color: #333;
}
.inner {
  margin: 0 auto;
  width: 1100px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.main_theme {
  text-align: center;
  padding: 250px 0 250px 0;
}
.bolttheme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}
.title_sub_theme {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}
.wwc_body {
  display: flex;
  justify-content: space-around;
}
.wwc_block {
  color: #f2f2f2;
  padding-top: 50px;
}
.wwc_body_inner{
  text-align: center;
}
.whatwecando_subtheme {
  font-size: 20px;
  margin-top: 35px;
  width: 682px;
}
.olw_block {
  padding: 60px 0 70px 0;
}
.ourlatestwork_pic {
  margin-top: 40px;
}
.olw_image {
  float: left;
  opacity: 0.7;
	display: block;
  margin:0 0 80px 100px;
  transition: all 0.3s;
}
.olw_image:nth-of-type(3n-2) {
  margin-left: 0;
}
.olw_image:hover {
  opacity: 0.3;
}
.form_block {
  font-size: 12px;
  margin-top:10px;
  display: flex;
  justify-content: center
}
.form_text {
  padding-right: 90px;
  font-size: 20px;
  text-align: center;
  width: 580px;
}
.mail_form {
  padding:14px 20px;
  color: #ffffff;
  line-height: 27.0315px;
}
.mail_form:hover {
  color: #333;
}
.font {
  text-align: center;
  font-size: 16px;
}
.os_box {
  color: #f2f2f2;
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}
.icon_block,.ourlatestwork,.section_block {
  text-align: center;
}
.section_box_inner {
  display: flex;
  margin-top:70px;
  justify-content: center;
}
.ourskills {
  text-align: center;
}
.image_picture {
  margin-left: 180px;
}
.image_picture:first-child {
  margin-left: 0;
}
.icon_block {
  padding: 200px 0;
}
.fa {
  color: #74cfae;
  width: 185px;
  box-sizing: border-box;
  transition: all 0.3s;
  padding: 20px 25px;
  cursor : pointer;
  text-decoration: none;
  display:block;
}
.fa:hover {
  background-color: #ffffff;
}
.footer {
  text-align: end;
  color: #ffffff;
  padding: 20px 0 25px 0;
}